<div class="container mx-auto rounded bg-white mt-5 mb-5 p-5">
    <div class="w-full p-4">
      <h4 class="text-right text-xl font-semibold mb-5">Ajustes de contraseña</h4>
  
      <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
        <div class="mb-4">
          <label class="block text-sm font-semibold">Contraseña actual</label>
          <input
            formControlName="currentPassword"
            type="password"
            class="input-style p-2 border-2 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 w-full"
          />
        </div>
  
        <div class="mb-4">
          <label class="block text-sm font-semibold">Nueva contraseña</label>
          <input
            formControlName="newPassword"
            type="password"
            class="input-style p-2 border-2 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 w-full"
          />
        </div>
  
        <div class="mb-4">
          <label class="block text-sm font-semibold">Repite la nueva contraseña</label>
          <input
            formControlName="confirmNewPassword"
            type="password"
            class="input-style p-2 border-2 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 w-full"
          />
        </div>
  
        <div class="mt-5 text-center">
          <button
            class="w-full py-2 px-4 bg-green-500 text-white font-semibold rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500"
            type="submit"
          >
            Cambiar Contraseña
          </button>
        </div>
      </form>
    </div>
  </div>
  