<section class="mt-1">
  <!-- Componente de Filtro -->
  <app-filter
    [label]="'Filtro...'"
    [placeholder]="'Buscar...'"
    [(filter)]="filter"  
    (filterChange)="applyFilter()"  
  ></app-filter>  
  
  <div class="mat-elevation-z8">
    <!-- Tabla de Contactos -->
    <table mat-table matSort [dataSource]="dataSource">
      <!-- Definición de columnas -->
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element[column] }}

          <!-- Botones de edición y eliminación -->
          <ng-container *ngIf="column === 'action'">
            <button mat-icon-button color="primary" (click)="openEditForm(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteContact(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <!-- Fila de encabezado -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Fila de datos -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Paginación -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</section>
