<mat-toolbar
  color="primary"
  class="bg-gradient-to-r from-blue-900 via-indigo-900 to-purple-800 shadow-sm text-white px-4 py-1 flex items-center justify-between border-b border-gray-700 rounded-t-lg w-full z-50"
>
  <!-- Logo o Home -->
  <a
    mat-button
    routerLink="/home"
    class="flex items-center space-x-1 hover:bg-indigo-700 p-2 rounded-full transition-all duration-300 ease-in-out transform hover:scale-105 focus:outline-none"
    matTooltip="Inicio"
  >
    <mat-icon class="text-xs">home</mat-icon>
  </a>

  <ng-container *ngIf="user()">
    <a
      mat-button
      routerLink="/contacts"
      class="flex items-center space-x-1 hover:bg-indigo-700 p-2 rounded-full transition-all duration-300 ease-in-out transform hover:scale-105 focus:outline-none"
      matTooltip="Contactos"
    >
      <mat-icon class="text-xs">list_alt</mat-icon>
    </a>

    <span class="flex-grow"></span>

  

    <!-- Botón "Mi Perfil" con routerLink -->
    <a
      mat-button
      routerLink="/profile"
      class="flex items-center space-x-1 hover:bg-indigo-700 text-white px-3 py-1 rounded-full transition-all duration-300 ease-in-out"
      matTooltip="Mi perfil"
    >
      <mat-icon class="text-xs">account_circle</mat-icon>
    </a>

    <!-- Botón "Cerrar sesión" -->
    <button
      (click)="logOut()"
      class="flex items-center space-x-1 bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded-full transition-all duration-300 ease-in-out"
      matTooltip="Cerrar sesión"
    >
      <mat-icon class="text-xs">logout</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="!user()">
    <span class="flex-grow"></span>

    <a
      mat-button
      routerLink="/sign-up"
      class="flex items-center space-x-1 bg-green-600 hover:bg-green-700 text-white p-2 rounded-full transition-all duration-300 ease-in-out"
      matTooltip="Regístrate"
    >
      <mat-icon class="text-xs">person_add</mat-icon>
    </a>

    <a
      mat-button
      routerLink="/sign-in"
      class="flex items-center space-x-1 bg-blue-600 hover:bg-blue-700 text-white p-2 rounded-full transition-all duration-300 ease-in-out"
      matTooltip="Inicia sesión"
    >
      <mat-icon class="text-xs">login</mat-icon>
    </a>
  </ng-container>
</mat-toolbar>
